body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("bg.png");
    background-size: cover;
}

.login-container {
    width: 300px;
  position: fixed;  /* Make the container fixed to stay in place */
  right: 50px;  /* Position it 20px from the right edge */
  top: 50%;  /* Position it vertically in the middle of the viewport */
  transform: translateY(-50%);  /* Adjust for half the height of the container */
  padding: 30px;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #fff;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table td {
    text-align: left;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


#create-form {
    display: none;
    
}

#create-form:target {
    display: block;
}
ul li{
    width: 80px;
    float:right;
    text-align: center;
     border:1px solid white;
     background-color: black;
     opacity: 0.8;
     font-family: Arial;
     padding: 7px;
     margin-right: 4px;
 }
 
 ul li a{
     text-decoration: none; color: white;
 }
 
 ul li:hover{
     background-color: gray;
 }